@import "../../mixins.scss";

.genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  .genre {
    background-color: crimson;
    padding: 3px;
    font-size: 10px;
    border-radius: 4px;
    color: white;
    white-space: nowrap;
  }
}
